<ion-view view-title="YouFinder - Categorias" name="customerallcategory-view" cache-view="false">

    <ion-header-bar class="bar-balanced item-input-inset">
        <button class="button icon {{iconBack}} button-clear" ng-click="goBack()"></button>
        <h1 class="title">Categorias</h1>
    </ion-header-bar>

    <ion-content class="padding has-footer app-background-color" scroll="true">
        <ng-include src="'templates/categories_content.html'"></ng-include>
    </ion-content>

    <div class="bar bar-footer bar-balanced">
    </div>
</ion-view>
