
<ion-view view-title="Busca do Vale" name="customercategory-view" cache-view="false">

    <ion-header-bar class="bar-balanced item-input-inset">
        <button class="button icon ion-arrow-left-c button-clear" ng-click="goBack()"></button>
        <h1 class="title">{{customerName}}</h1>
    </ion-header-bar>

    <ion-content class="padding has-footer app-background-color" scroll="true">
        <ng-include src="'templates/customerdetail_content.html'"></ng-include>
    </ion-content>

    <div class="bar bar-footer bar-balanced">
    </div>
</ion-view>
