<ion-view name="reset-password-view" class="perks-feed-view" hide-back-button="true">
    
    <ion-header-bar class="bar-balanced" title="Voltar">
        <button class="button icon ion-arrow-left-c button-clear" ng-click="goLogin()"></button>
        <h1 class="title">Recuperar Senha</h1>
    </ion-header-bar>
    
    <ion-content class="app-background-color login-background" ion-img-cache-bg>
        <div class="ionic login">
            <div class="hero no-header flat">
                <div class="content">
                    <!--<i class="ion-map icon hero-icon royal-bg"></i>-->

                    <h2></h2>
                </div>
            </div>

            <div class="list">

                <label class="item item-input item-md-label" highlight-color="balanced" type="text">
                    <input type="text" placeholder="E-mail da sua conta" ng-model="email">
                    <div class="highlight highlight-balanced"></div>
                </label>
                
                <div class="item item-text-wrap app-background-color">
                    <p class="font-italic">Se você usa o Facebook para entrar no YouFinder, digite o e-mail que você usa para entrar no Facebook</p>
                </div>
                
            </div>

            <div class="padding">
                <button class="button button-block button-balanced waves-effect waves-button waves-light" ng-click="doResetPasswordEmail(email)">Recuperar!</button>
            </div>
        </div>
    </ion-content>
    
    <ion-footer-bar class="bar-balanced">

    </ion-footer-bar>
</ion-view>
