<ion-side-menus enable-menu-with-back-views="false" cache-view="false">

    <!-- HEADER / MENU BUTTON -->
    <ion-side-menu-content class="app-background-color">

        <ion-nav-view name="menuContent"></ion-nav-view>
        
    </ion-side-menu-content>
    <!-- HEADER / MENU BUTTON -->

    <!-- SIDE MENU -->
    <ion-side-menu side="left" class="app-background-color">
        <ion-header-bar class="expanded">
            <img ng-src="{{user.photoURL}}"  class="avatar motion spin fade">
            <div class="menu-bottom">
                {{user.fullname}}
            </div>
        </ion-header-bar>
        <ion-content class="stable-bg has-expanded-header app-background-color">
            <ion-list>
                <ion-item nav-clear menu-close href="#/login" ng-if="showLoginMenu()">
                    Entrar
                </ion-item>
                <ion-item nav-clear menu-close href="#" ng-click="goPerfil()" ng-if="!showLoginMenu()">
                    Meu Perfil
                </ion-item>
                <ion-item nav-clear menu-close href="#/app/home">
                    Home
                </ion-item>
                <ion-item nav-clear menu-close href="#/mudar-cidade" ng-if="showMenuUser()">
                    Mudar Cidade
                </ion-item>
                <ion-item nav-clear menu-close href="#" ng-if="showMenuUser()">
                    Menu Usuário
                </ion-item>
                <ion-item nav-clear menu-close href="#" ng-if="showMenuCustomer()">
                    Menu Comércio
                </ion-item>
                <ion-item nav-clear menu-close ng-click="logout()" ng-if="!showLoginMenu()">
                    Sair
                </ion-item>
            </ion-list>
        </ion-content>
    </ion-side-menu>
    <!-- SIDE MENU -->

</ion-side-menus>
