<ion-view class="slider-view" cache-view="false">
    <!--    <ion-nav-title>
            <span>Slider</span>
        </ion-nav-title>-->
    <ion-content scroll="false">
        <ion-slide-box show-pager="true" on-slide-changed="checkEnableButton($index)">
            <ion-slide ng-repeat="slide in slides">
                <div class="list card padding">
                    <div class="item item-image">
                        <img ng-src="{{slide.src}}" width="150px" height="180px">
                    </div>
                    <div class="item item-body">
                        <p class="text-center">{{slide.message}}</p>
                    </div>
                    <div class="item">
                        <button class="button button-block" ng-click="{{slide.myFunction}}">{{slide.text}}</button>
                    </div>
                </div>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>