<ion-view cache-view="false" name="chat-friends">
    <div class="bar bar-header bar-positive item-input-inset">
        <button class="button button-clear button-icon ion-arrow-left-c" ng-click="goBack()"></button>
        <div class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" autofocus="" placeholder="Procure contatos" ng-model="search" ng-model-options="{debounce: 300}">
            <span class="icon placeholder-icon ion-close-round" ng-if="search" ng-click="clearSearch()"></span>
        </div>
    </div>

    <ion-content class="app-background-color">
        <h3 class="text-center">Amigos</h3>

        <!-- FRIENDS -->
        <div class="list friendsList" ng-if="friends.length > 0">
                <a class="item item-avatar item-icon-right" ng-repeat="friend in friends | filter: search as filtereds" ng-click="initChat(friend)" ng-init="$last && effect()">
                    <img ng-src="{{friend.photoURL}}">
                    <h2>{{friend.fullname}}</h2>
                    <p>Last message: 13:33</p>
                    <i class="icon ion-chatbubble positive"></i>
                </a>

            <h4 ng-show="filtereds.length == 0" class="text-center padding">
                Nenhum contato encontrado com o termo <i>{{search}}<i>...
            </h4>
        </div>

        <!-- EMPTY CHAT -->
        <div class="text-center" ng-if="chats.length == 0">
            <h5>Abextado, você ainda não tem nenhum contato adicionado;/</h5>
        </div>
    </ion-content>
    
    <div class="bar bar-footer bar-positive">

    </div>
</ion-view>