<ion-view cache-view="false" name="chat-menu">
    <ion-header-bar class="bar bar-header bar-positive item-input-inset">
        <button class="button button-clear button-icon ion-arrow-left-c"></button>
        <div class="item-input-wrapper">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="search" autofocus="" placeholder="Procure amigos e mensagens" ng-model="search" ng-model-options="{debounce: 300}" autofocus="">
            <span class="icon placeholder-icon ion-close-round" ng-if="search" ng-click="clearSearch()"></span>
        </div>
        
        <button class="button button-clear button-icon icon ion-android-more-vertical"></button>
    </ion-header-bar>

    <ion-content class="app-background-color">
        <h2>User: {{user.emailone}}</h2>
        <div class="im-wrapper">
            
            <!-- CHATS (ALREADY STARTED) -->
            <div class="list conversationsList " ng-if="chats.length > 0">
                <h3 class="text-center" ng-if="filtereds.length > 0">Conversas</h3>
                    <a class="item item-avatar item-icon-right" ng-repeat="chat in chats | filter: search as filtereds" href="#" ng-click="getChat(chat)" ng-init="$last && effect()">
                        <img ng-src="{{chat.partner.photoURL}}">
                        <h2>{{chat.partner.fullname}}</h2>
                        <p>Last message: 13:33</p>
                        <i class="icon ion-chatbubbles positive"></i>
                    </a>
                <h4 ng-show="filtereds.length == 0" class="text-center padding">
                    Nenhuma conversa encontrada com o termo <i>{{search}}<i>...
                </h4>
            </div>

            <!-- EMPTY CHAT -->
            <div class="text-center" ng-if="chats.length == 0">
                <h5>Abextado, você ainda não tem nenhuma conversa iniciada ;/</h5>
            </div>
        </div>

    </ion-content>

    <div class="bar bar-footer bar-positive">
        <button class="button button-calm bottom-right button-fab button-fab-bottom-right" id="newChatButton" ng-click="newChat()">
            <i class="icon ion-android-create"></i>
        </button>
    </div>
</ion-view>