<ion-view class="perks-feed-view" cache-view="false" hide-back-button="true" name="chat-messages">
    <ion-pane>
        <ion-header-bar class="bar bar-header bar-positive">
            <button class="button icon ion-arrow-left-c button-clear" ng-click="goMenu()"> </button>
            <h1 class="title">{{receiver}} <span ng-if="isFriendTyping()">está digitando...</span></h1>
        </ion-header-bar>

        <ion-content class="zima-applyFooter padding has-footer">

            <div id="messages" class="list" ng-repeat="message in messages">
                <div class="list-item">
                    
                    <!-- USER'S MESSAGE -->
                    <div class="from-me" ng-if="isUserMessage(message)">
                        <b>Você</b>: {{message.message}}
                    </div>
                    
                    <!-- FRIEND'S MESSAGE -->
                    <div class="from-them" ng-if="isFriendMessage(message)">
                        <b>{{message.sender.fullname}}</b>: {{message.message}}
                    </div>
                      
                    <!-- NECESSARY TO ALWAYS SET THE BUBBLE CHAT DIV INTO THE CORNER -->
                    <div class="clear"></div>
                </div>
            </div>
        </ion-content>

        <ion-header-footer class="bar bar-footer bar-positive item-input-inset">
            <div class="item-input-wrapper">
                <i class="icon ion-chatbubble-working placeholder-icon" ng-if="!message"></i>
                <input type="search" autofocus="" placeholder="mensagem..." ng-model="message" ng-keypress="addMessageEnter($event, message)">
                <span class="icon placeholder-icon ion-android-send" ng-if="message" ng-click="addMessage(message)"></span>
            </div>
        </ion-header-footer>
    </ion-pane>

</ion-view>