<ion-view view-title="Busca do Vale" name="choosecity-view" cache-view="false">

    <ion-header-bar class="bar-positive item-input-inset">
    </ion-header-bar>

    <ion-content class="padding has-footer app-background-color" scroll="true">
        
        <space-crud entity="user">
            <space-crud-list></space-crud-list>
            
            <space-crud-form></space-crud-form>
        </space-crud>
    </ion-content>

    <div class="bar bar-footer bar-positive">
    </div>
</ion-view>
