<ion-view view-title="YouFinder" name="home-view" cache-view="false">

    <ion-header-bar class="bar-balanced item-input-inset">
        <button class="button button-icon ion-android-menu" ng-click="toggleSideMenu()">
        </button>
        <label class="item-input-wrapper">
            <i class="icon ion-ios-search placeholder-icon"></i>
            <input type="search" placeholder="O que você está procurando?" >
        </label>
    </ion-header-bar>

    <ion-content class="padding has-footer" scroll="true">
        <div id="order-alert"></div>
        <h1> Página inicial dos administradores </h1>

    </ion-content>

    <div class="bar bar-footer bar-balanced">
        
    </div>
</ion-view>
