<ion-view view-title="Novo Categoria" name="new-category-view" cache-view="false">
    <ion-pane>
        <ion-header-bar class="bar bar-header bar-balanced">
            <button class="button icon button-clear ion-arrow-left-c" ng-click="goAdminListCategories()"> </button>
            <h1 class="title">Nova Categoria</h1>
            <button class="button icon button-clear ion-checkmark-round" ng-click="doClickSaveCategory(category)"></button>
        </ion-header-bar>

        <ion-content class="zima-applyFooter padding"> 

            <div class="list">

                <label class="item item-input item-stacked-label">
                    <span class="input-label"><b>Nome</b></span>
                    <input type="text" ng-model="category.fullname" placeholder="Digite aqui o nome da categoria" id="fullname">
                </label>
                
                <label class="item item-input item-stacked-label">
                    <span class="input-label"><b>Texto de Ajuda</b></span>
                    <input type="text" ng-model="category.texthelp" placeholder="Fornece uma informação breve sobre a categoria" id="texthelp">
                </label>
                
                <label class="item item-input item-stacked-label">
                    <span class="input-label"><b>Categoria Superior</b></span>
                    <select ng-model="category.super"
                            ng-options="category.$id as category.fullname for category in categories"></select>
                </label>
                
                <ion-checkbox class="item item-input" ng-model="category.showHome">Exibir na Home?</ion-checkbox>

                <!-- UPLOAD -->
                <input type="file" id="uploadicon" style="display: none">
                <button id="btnupload" ng-click="fireUploadEvent()" class="button button-block button-balanced item icon icon-left ion-paperclip" ng-if="visibleUploadContainer">ENVIAR ÍCONE</button>
                <progress id="progressupload" min="0" max="100" value="1" ng-if="visibleUploadContainer"></progress>
                <!-- UPLOAD -->

                <!-- REMOVER UPLOAD -->
                <div class="item">
                    <img class="profile-picture" ng-src="{{downloadIconURL}}" ng-if="!visibleUploadContainer" width="80px" height="80px"/>
                    <button id="btnremove" ng-if="!visibleUploadContainer" class="button button-block button-assertive icon icon-left ion-trash-a" ng-click="removeFile()">REMOVER ÍCONE</button>
                </div>
                <!-- REMOVER UPLOAD -->
                
                <!-- UPLOAD COVER PHOTO -->
                <input type="file" id="uploadCoverPhoto" style="display: none">
                <button id="btnuploadCoverPhoto" ng-click="fireUploadEvent('uploadCoverPhoto')" class="button button-block button-balanced item icon icon-left ion-paperclip" ng-if="visibleUploadContainerCoverPhoto">ENVIAR FOTO DE CAPA</button>
                <progress id="progressuploadCoverPhoto" min="0" max="100" value="1" ng-if="visibleUploadContainerCoverPhoto"></progress>
                <!-- UPLOAD COVER PHOTO -->

                <!-- REMOVER UPLOAD COVER PHOTO -->
                <div class="item">
                    <img class="profile-picture" ng-src="{{downloadCoverPhotoURL}}" ng-if="!visibleUploadContainerCoverPhoto" width="80px" height="80px"/>
                    <button id="btnremoveCoverPhoto" ng-if="!visibleUploadContainerCoverPhoto" class="button button-block button-assertive icon icon-left ion-trash-a" ng-click="removeCoverPhoto()">REMOVER FOTO DE CAPA</button>
                </div>
                <!-- REMOVER UPLOAD COVER PHOTO -->
            </div>
        </ion-content>

        <ion-footer-bar class="tabs">
            
        </ion-footer-bar>

    </ion-pane>
</ion-view>