<ion-view class="perks-feed-view" hide-back-button="true" cache-view="false">

    <ion-header-bar class="bar bar-header bar-balanced">
        <button class="button icon ion-arrow-left-c button-clear" ng-click="goHome()"> </button>
        <h1 class="title">Perfil</h1>
    </ion-header-bar>
    
    <ion-content class="has-header">
        <div class="hero has-mask" ion-img-cache-bg style="background-image: url('{{coverPhotoURL}}');">
            <div class="content">
                <div class="avatar" ion-img-cache-bg style="background-image: url('{{customer.logoURL}}');"></div>
                <h3><a class="light">{{customer.fullname}}</a></h3>
                <h4>{{customer.slogan}}</h4>
            </div>
        </div>
        
        <h4 class="balanced padding-left">Categorias</h4>
        <ion-list>
            <ion-item>{{subCategoriesText}}</ion-item>
        </ion-list>
        
        <!-- ABOUT -->
        <h4 class="balanced content padding double-padding-x">Sobre</h4>
        <ion-list class="customerProfileList">
            <a class="item item-text-wrap" style="transition-delay: 0.39s;">
                <p class="text-justify">
                    {{customer.about}}
                </p>
                <br>
                <p class="text-justify">
                    <span class="font-bold">Horários de Atendimento</span><br>
                    Seg à Sex: {{customer.weekHourOne}} - {{customer.weekHourTwo}} | {{customer.weekHourThree}} - {{customer.weekHourFour}}<br>
                    <span ng-if="worksOnSaturday">Sábados: {{customer.saturdayHourOne}} - {{customer.saturdayHourTwo}}<br></span>
                    <span ng-if="worksOnSunday">Domingos: Fechado<br></span>
                </p>
            </a>
            <a class="item item-text-wrap" style="transition-delay: 0.39s;">
                <p class="text-justify">
                    <span class="font-bold">Endereço: </span>{{customer.address}} ({{customer.addresscompl}}), número {{customer.number}}, bairro {{customer.neighborhood.value.fullname}}, Navegantes - SC</b>
                </p>
                
                <!-- MAP -->                
                <div class="" data-tap-disabled="true">
                    <ng-map id="customermap_edit" class="map" zoom="14" center="[{{customer.latitude}}, {{customer.longitude}}]" zoom-control="true" scale-control="false" map-type-control="false" street-view-control="true" map-initialized="init(map)">
                        <marker position="{{customer.latitude}},{{customer.longitude}}" title="YouFinder!"></marker>
                    </ng-map>
                </div>
            </a>
        </ion-list>
    </ion-content>
</ion-view>
