<!-- CUSTOMER VIEWING HIS OWN PROFILE -->

<ion-tabs class="tabs-balanced tabs-icon tabs-fullwidth">
    <ion-tab title="Perfil" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline" href="#/perfil-comercio/tab-one">
        <ion-nav-view name="tab-one-customer-view"></ion-nav-view>
    </ion-tab>
    <ion-tab title="Contatos" icon-on="ion-ios-paperplane" icon-off="ion-ios-paperplane-outline" href="#/perfil-comercio/tab-two">
        <ion-nav-view name="tab-two-customer-view"></ion-nav-view>
    </ion-tab>

<!--    <ion-tab title="Contato" icon-on="ion-ios-telephone" icon-off="ion-ios-telephone-outline" href="/novo-cliente/contato" on-select="onTabSelected()">
        <ion-nav-view name="tab-two"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Contato" icon-on="ion-ios-camera" icon-off="ion-ios-camera-outline" href="/novo-cliente/logo" on-select="onTabSelected()">
        <ion-nav-view name="tab-three"></ion-nav-view>
    </ion-tab>-->

</ion-tabs>