<ion-view view-title="YouFinder">

    <ion-content class="padding has-footer">
        <div ng-repeat="category in categories| orderBy: ['fullname']" ng-init="$last && effect()">
            <!--numbers[$index]-->
            <div class="row" ng-if="$even">
                <div class="col col-33 padding-left home-icons-font-size categoryHomeList" ng-click="goToSubCategoryOrCustomers(categories[$index])">
                    <img ion-img-cache ng-src="{{categories[$index].iconURL}}" class="img-64px">
                    <p class="font-Josefin font-size-home item-text-wrap">{{categories[$index].fullname}}</p>
                </div>
                <div class="col col-offset-33 col-33 home-icons-font-size categoryHomeList" ng-click="goToSubCategoryOrCustomers(categories[$index + 1])">
                    <img ion-img-cache ng-src="{{categories[$index + 1].iconURL}}" class="img-64px">
                    <p class="font-Josefin font-size-home item-text-wrap">{{categories[$index + 1].fullname}}</p>
                </div>
            </div>
        </div>


    </ion-content>

    <div class="bar bar-footer bar-balanced">
    </div>
</ion-view>
