<ion-view name="create-account-view" class="perks-feed-view" hide-back-button="true">

    <ion-header-bar class="bar-balanced" title="Voltar">
        <button class="button icon ion-arrow-left-c button-clear" ng-click="goAdminListCustomers()"></button>
        <h1 class="title">Criar Conta</h1>
    </ion-header-bar>

    <ion-content class="app-background-color">
        <div class="ionic login">
            <div class="hero no-header flat">
                <div class="content">
                    <h2>Novo Cliente</h2>
                </div>
            </div>

            <!-- https://scotch.io/tutorials/angularjs-form-validation -->

            <!--This will prevent the default HTML5 validations since we'll be doing that ourselves (ours will be much prettier)-->
            <form name="customerCreateAccountForm" 
                  novalidate=""
                  ng-submit="submitForm(customerCreateAccountForm.$valid)">
                <div class="list">

                    <label class="item item-input item-md-label item-stacked-label"
                           highlight-color="balanced"
                           type="text">
                        <span class="input-label">First Name</span>
                        <input type="email" placeholder="E-mail" ng-model="login.email" name="email" required="">
                        <div class="highlight highlight-balanced"></div>
                    </label>
                    <p ng-show="customerCreateAccountForm.email.$invalid && submitted" class="item item-assertive" padding="true">E-mail obrigatório</p>

                    <label class="item item-input item-md-label item-stacked-label" highlight-color="calm" type="password">
                        <input type="password" placeholder="Senha" ng-model="login.password" name="password" required="" ng-minlength="5" ng-maxlength="10">
                        <div class="highlight highlight-calm"></div>
                    </label>
                    <p ng-show="customerCreateAccountForm.password.$error.minlength && submitted" class="item item-assertive">A senha precisa ter entre 5 e 10 caracteres</p>


                    <label class="item item-input item-md-label item-stacked-label" highlight-color="calm" type="password">
                        <input type="password" placeholder="Confirmar senha" ng-model="login.password2" name="password2" required="" ng-pattern="login.password">
                        <div class="highlight highlight-calm"></div>
                    </label>
                    <p ng-show="submitted && customerCreateAccountForm.password2.$error.pattern" class="item item-assertive">A senhas estão diferentes. Por favor, verifique.</p>
                </div>

                <button type="submit" 
                        class="button button-block button-balanced waves-effect waves-button waves-light"
                        >AVANÇAR</button>
            </form>


        </div>
    </ion-content>
</ion-view>
