<ion-view view-title="YouFinder - Editar Cliente" name="edit-customer-view" cache-view="false">
    <ion-pane>
        <ion-header-bar class="bar bar-header bar-balanced">
            <button class="button icon ion-arrow-left-c button-clear" ng-click="goAdminListCustomers()"> </button>
            <h1 class="title">Editar Cliente</h1>
            <button class="button icon ion-checkmark-round button-clear" ng-click="doClickSaveCustomer(customer)"> </button>
        </ion-header-bar>

        <ion-content class="zima-applyFooter padding"> 

            <div class="list">

                <label class="item item-input item-stacked-label">
                    <span class="input-label"><b>Nome Fantasia</b></span>
                    <input type="text" ng-model="customer.fullname" id="fullname">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label"><b>Slogan</b></span>
                    <input type="text" maxlength="40" ng-model="customer.slogan" id="slogan" placeholder="Ex: Atendendo bem para atender sempre ;)">
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label"><b>Categoria</b></span>
                    <select ng-model="customer.category" 
                            ng-options="category.$id as category.fullname for category in categories"
                            ng-change="onCategoryChange(customer.category)">
                    </select>
                </label>

                <label class="item item-input item-stacked-label" ng-if="subCategories.length > 0">
                    <span class="input-label font-italic"><b>Subcategorias</b></span>
                    <ion-list ng-repeat="sub in subCategories">
                        <ion-checkbox class="item" checklist-model="customer.subCategories" checklist-value="sub" checklist-comparator="compareCategory">{{sub.fullname}}</ion-checkbox>
                        <!--<input type="checkbox" class="item item-input" checklist-model="customer.subCategories" checklist-value="sub" checklist-comparator="compareCategory"> {{sub.fullname}}-->
                    </ion-list>
                </label>

                <label class="item item-input item-stacked-label">
                    <span class="input-label"><b>Fale sobre seu negócio</b></span>
                    <textarea cols="5" rows="5" ng-model="customer.about"></textarea>
                </label>

                <!-- WORKING HOUR -->
                <label class="item item-input item-stacked-label">
                    <span class="input-label"><b>Horário de Funcionamento</b></span>
                </label>
                <div class="row">
                    <div class="col-33">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label"><b>Seg à Sex</b></span>
                        </label>
                    </div>
                    <div class="col">
                        <input ng-model="customer.weekHourOne" type="text" placeholder="08:00" maxlength="5" mask="99:99" mask-restrict="reject">
                    </div>
                    <div class="col">
                        <input ng-model="customer.weekHourTwo" type="text" placeholder="12:00"  maxlength="5" mask="99:99" mask-restrict="reject">
                    </div>
                </div>
                <div class="row">
                    <div class="col col-33">

                    </div>
                    <div class="col">
                        <input ng-model="customer.weekHourThree" type="text" placeholder="13:30"  maxlength="5" mask="99:99" mask-restrict="reject">
                    </div>
                    <div class="col">
                        <input ng-model="customer.weekHourFour" type="text" placeholder="18:00"  maxlength="5" mask="99:99" mask-restrict="reject">
                    </div>
                </div>
                <div class="row">
                    <div class="col-33">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label"><b>Sábados</b></span>
                        </label>
                    </div>
                    <div class="col">
                        <input ng-model="customer.saturdayHourOne" type="text" placeholder="08:00"  maxlength="5" mask="99:99" mask-restrict="reject">
                    </div>
                    <div class="col">
                        <input ng-model="customer.saturdayHourTwo" type="text" placeholder="12:00"  maxlength="5" mask="99:99" mask-restrict="reject">
                    </div>
                </div>
                <div class="row">
                    <div class="col-33">
                        <label class="item item-input item-stacked-label">
                            <span class="input-label"><b>Domingos</b></span>
                        </label>
                    </div>
                    <div class="col">
                        <input ng-model="customer.sundayHourOne" type="text" placeholder="08:00"  maxlength="5" mask="99:99" mask-restrict="reject">
                    </div>
                    <div class="col">
                        <input ng-model="customer.sundayHourTwo" type="text" placeholder="12:00"  maxlength="5" mask="99:99" mask-restrict="reject">
                    </div>
                </div>
                <!-- WORKING HOUR -->
            </div>
        </ion-content>

    </ion-pane>
</ion-view>



