<ion-tabs class="tabs-balanced tabs-icon tabs-fullwidth">
    <ion-tab title="Informações" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline" href="/editar-cliente/dados">
        <ion-nav-view name="admin-tab-customer-data-edit"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Contato" icon-on="ion-ios-telephone" icon-off="ion-ios-telephone-outline" href="/editar-cliente/contato">
        <ion-nav-view name="admin-tab-customer-contact-edit"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Imagens" icon-on="ion-ios-camera" icon-off="ion-ios-camera-outline" href="/editar-cliente/logo">
        <ion-nav-view name="admin-tab-customer-logo-edit"></ion-nav-view>
    </ion-tab>
    
    <ion-tab title="Planos" icon-on="ion-ios-star" icon-off="ion-ios-star-outline" href="/editar-cliente/planos">
        <ion-nav-view name="admin-tab-customer-plans-edit"></ion-nav-view>
    </ion-tab>

</ion-tabs>