<ion-view view-title="YouFinder - Clientes" name="list-client-view" cache-view="false">

    <ion-header-bar class="bar-balanced" title="fd">
        <button class="button icon ion-arrow-left-c button-clear" ng-click="goHome()"></button>
        <h1 class="title">Clientes</h1>
        <button class="button icon ion-plus-circled button-clear" ng-click="abrirCadastroCliente()"> </button>
    </ion-header-bar>

    <ion-content class="padding">

        <div class="list" ng-repeat="customer in customers">
            <div class="row responsive-sm">

                <!-- DIV LIST CUSTOMER -->
                <div class="col col-90" ng-click="editarCadastroCliente(customer)">
                    <a class="item item-thumbnail-left item-text-wrap">
                        <img src="{{customer.logoURL}}" class="profile-picture">
                        <h2>{{customer.fullname}} </h2>
                        <p>E-mail: {{customer.emailone}}</p>

                    </a>
                </div>
                <!-- DIV LIST CUSTOMER -->

                <!-- BUTTON DELETE -->
                <div class="col col-10">
                    <button class="button button-assertive button-block" ng-click="removerCliente(customer.$id)">
                        <i class="icon ion-ios-trash"></i>
                    </button>
                </div>
                <!-- BUTTON DELETE -->
            </div>
        </div>
    </ion-content>

    <div class="bar bar-footer bar-balanced">
    </div>

</ion-view>
