<ion-view cache-view="false" name="maps">
    <ion-header-bar class="bar-positive bar bar-header">
        <div class="item item-input-inset">
            <input autofocus="" type="text" placeholder="O que você procura?" ng-model="search" ng-model-options="{debounce: 300}">
        </div>
    </ion-header-bar>

    <ion-content>
        <div class="map-container" data-tap-disabled="true">
            <ng-map class="map" zoom="14" center="[{{latitude}}, {{longitude}}]" zoom-control="true" scale-control="false" map-type-control="false" street-view-control="true" map-initialized="init(map)">
                <marker position="{{latitude}},{{longitude}}" title="Hello World!"></marker>
            </ng-map>
        </div>

        <div class="row geolocation-row">
            <div class="col col-center">
                <button class="geolocation-button button button-block button-positive" ng-click="tryGeoLocation()">
                    Try the Geo Location feature!
                </button>
            </div>
        </div>
    </ion-content>

    <div class="bar bar-footer bar-positive">

    </div>
</ion-view>