<ion-view view-title="Editar Tipo de Faturamento" name="edit-billingType-view" cache-view="false">
    <ion-pane>
        <ion-header-bar class="bar bar-header bar-balanced">
            <button class="button icon ion-arrow-left-c button-clear" ng-click="goList()"> </button>
            <h1 class="title">Editar Tipo de Faturamento</h1>
            <button class="button icon button-clear ion-checkmark-round" ng-click="doClickSave(billingType)"></button>
        </ion-header-bar>

        <ion-content class="zima-applyFooter padding"> 

            <label class="item item-input item-stacked-label">
                <span class="input-label"><b>Nome</b></span>
                <input type="text" ng-model="billingType.fullname" id="fullname">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label"><b>Texto de Ajuda</b></span>
                <input type="text" ng-model="billingType.texthelp" placeholder="Fornece uma informação breve sobre o tipo de faturamento" id="texthelp">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label"><b>Preço mensal/avulso</b></span>
                <input type="text" ng-model="billingType.mensalPrice" placeholder="R$ 33,00" id="mensalPrice" mask-restrict="reject" mask="R$ 9?9?9?9?9?9?9?9?9,99">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label"><b>Preço Plano 3 Meses</b></span>
                <input type="text" ng-model="billingType.mensalPrice3" placeholder="R$ 33,00"  id="mensalPrice3" mask-restrict="reject" mask="R$ 9?9?9?9?9?9?9?9?9,99">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label"><b>Preço Plano 6 Meses</b></span>
                <input type="text" ng-model="billingType.mensalPrice6" placeholder="R$ 33,00" id="mensalPrice6" mask-restrict="reject" mask="R$ 9?9?9?9?9?9?9?9?9,99">
            </label>

            <label class="item item-input item-stacked-label">
                <span class="input-label"><b>Preço Plano 12 Meses</b></span>
                <input type="text" ng-model="billingType.mensalPrice12" placeholder="R$ 33,00" id="mensalPrice12" mask-restrict="reject" mask="R$ 9?9?9?9?9?9?9?9?9,99">
            </label>

        </ion-content>

        <ion-footer-bar class="tabs">
        </ion-footer-bar>

    </ion-pane>
</ion-view>