<ion-view view-title="Busca do Vale - Cidades" name="list-city-view" cache-view="false">

    <ion-header-bar class="bar-balanced" title="fd">
        <button class="button icon ion-arrow-left-c button-clear" ng-click="goHome()"></button>
        <h1 class="title">Cidades</h1>
        <button class="button icon ion-plus-circled button-clear" ng-click="abrirCadastroCidade()"> </button>
    </ion-header-bar>

    <ion-content class="padding">

        <div class="card" ng-repeat="city in cities">
            <div class="row responsive-sm">
                <div class="item col col-90" ng-click="editarCadastroCidade(city)">
                    {{city.fullname}}
                </div>

                <!--BUTTON DELETE--> 
                <div class="col col-10">
                    <button class="button button-assertive button-block" ng-click="removerCidade(city.$id)">
                        <i class="icon ion-ios-trash"></i>
                    </button>
                </div>
                <!--BUTTON DELETE--> 
            </div>
        </div>
    </ion-content>

    <div class="bar bar-footer bar-balanced">    </div>

</ion-view>
